<div class="well3">
  <h1>Cart</h1>

  <% @carted_products.each do |carted_product| %>
    
    <h4> <%= carted_product.product.name %> - <%= carted_product.quantity %> X <%= number_to_currency(carted_product.product.price) %> </h4>

  <% end %>
    
  <%= link_to "Buy Now", "/orders", method: :post, class: "btn btn-info" %>

</div>