h1 {
  border: solid;
  background-color: black;
  text-align: center;
  color: limegreen;
}

h2 {
  border: solid;
  background-color: black;
  color: limegreen;
  text-align: center;

}

h3 {
  border: solid;
  background-color: black;
  color: limegreen;
  text-align: center;

}

.images  {
  text-align: center;

}