h1 {
  border: solid;
  background-color: black;
  text-align: center;
  color: limegreen;
  margin-left: 450px;
  margin-right: 450px;
}

h2 {
  border: solid;
  background-color: black;
  color: limegreen;
  text-align: center;
  margin-left: 450px;
  margin-right: 450px;

}

h3 {
  border: solid;
  background-color: black;
  color: limegreen;
  text-align: center;
  margin-left: 450px;
  margin-right: 450px;
}

h4 {
  border: solid;
  background-color: black;
  color: limegreen;
  text-align: center;
  margin-left: 450px;
  margin-right: 450px;
}

body {
  background-color: red;
  }

.images  {
  text-align: center;
  size: auto;

}