<%  @product.each do |product| %>
  <h1>Game Info</h1>

  <h2>Title: <%= product.name %></h2>
  <h2>Price: $<%= product.price - 1 %>.99</h2>

  <br></br>

  <div class="images" ><img src=<%= product.image%>></div>

  <br></br>

  <h2>Description</h2>
  <h3><%= product.description %></h3>

  <br></br>
  
<% end %>

